<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="like">
      <h2 data-cy="likeDetailsHeading"><span>Like</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ like.id }}</span>
        </dd>
        <dt><span>Isliked</span></dt>
        <dd>
          <span>{{ like.isliked }}</span>
        </dd>
        <dt><span>Post</span></dt>
        <dd>
          <div *ngIf="like.post">
            <a [routerLink]="['/post', like.post.id, 'view']">{{ like.post.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>back</span>
      </button>

      <button type="button" [routerLink]="['/like', like.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>edit</span>
      </button>
    </div>
  </div>
</div>
